<?xml version="1.0" encoding="UTF-8"?>

<ROOT>
 <DIRCOLLECTION>
  <SYSDIR>
   <ISUSED>no</ISUSED>
   <TIME>2016-01-11 03:49:06</TIME>
   <DIR>D:\我的学习</DIR>
  </SYSDIR>
  <SYSDIR>
   <ISUSED>used</ISUSED>
   <TIME>2016-01-15 06:44:15</TIME>
   <DIR>D:\dianying</DIR>
  </SYSDIR>
 </DIRCOLLECTION>
 <LAWDIR>C:\Users\Administrator\Desktop</LAWDIR>
 <KEYMARK>
  <MARK1>Shift</MARK1>
  <DIRADDMARK>S</DIRADDMARK>
  <FILETYPEADDMARK2>3</FILETYPEADDMARK2>
  <DIRSEARCHMARK2>1</DIRSEARCHMARK2>
  <LAESEARCHMARK2>5</LAESEARCHMARK2>
  <DIRCREATEMARK2>6</DIRCREATEMARK2>
  <ALLSEARCHMARK2>D</ALLSEARCHMARK2>
  <QUIETMARK2>Y</QUIETMARK2>
 </KEYMARK>
</ROOT>
